---
title: Home
layout: layouts/base
---

<article data-router-view data-scroll>
    <h1>Some good index shit</h1>

    <a href="/project">Go to project</a>
    <a href="/purchase">Go to project</a>
    <a href="/technology">Go to project</a>
</article>
